:root {
  --color-White: rgb(255, 255, 255);
  --color-Info: rgb(73, 136, 0);

}

@page {
  size: 1211px 681px;
  margin: 0;
}

@media print {
  .remark-slide-scaler {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;
  }

  .remark-slide-content:after {
    -webkit-print-color-adjust: exact;
    -webkit-filter: opacity(1);
  }
}

strong {
  font-weight: bold;
}
em {
  font-weight: bold;
}

.center img {
    margin-left: auto;
    margin-right: auto;
  }
.right img {
  float: right;
  margin: 10px 0px 10px 50px;
}

/* default remark slide style */
.remark-slide {
  padding-top: 100px;
  padding-bottom: 40px;
  background-color: var(--color-White);
}
.remark-slide-content {
  font-family:sans-serif;
  font-size: 1.6em;
  color: var(--color-Text);
  display: block;
  position: relative;
  height: 471px;
  margin: 35px 50px;
  padding: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.remark-slide-content h1 {
  position: fixed;
  display: -webkit-inline-box;
  color: var(--color-Header);
  margin: 0px;
  padding: 0px 40px 0px 40px;
  top: 0px;
  left: 0px;
  height: 100px;
  width: 1130px;
  -webkit-box-align: center;
  font-size: 2em;
}
.remark-slide-content h2, .remark-slide-content h3 {
  font-size: 1.5em;
}
.remark-slide-number {
  position: fixed;
  color: var(--color-FooterText);
  font-size: 0.5em;
  right: 50px;
}

.title-slide .remark-slide-number {
  display: none;
}

/* two-column layout */
.left-column {
  width: 48%;
  float: left;
  margin-top: 15px;
}
.left-column > :first-child {
  margin-top: 0px;
}
.remark-slide-content > .left-column {
  margin-top: 0px;
}
.right-column {
  width: 48%;
  float: right;
  margin-top: 15px;
}
.right-column > :first-child {
  margin-top: 0px;
}
.remark-slide-content > .right-column {
  margin-top: 0px;
}

/* code style */

.remark-code, .remark-inline-code {
  font-family: 'monospace';
}
.remark-code-span-highlighted {
  background-color: #373832;
  padding: 1px 0px 2px 0px;
}
.remark-code-line-highlighted {
  background-color: #373832;
}
.text > .remark-code-span-highlighted {
  background-color: rgba(255,255,0,0.5);
}
.text > .remark-code-line-highlighted {
  background-color: rgba(255,255,0,0.5);
}
.remark-code {
  text-indent: 0px;
  line-height: initial;
  font-size: 0.9em;
}
.remark-inline-code {
  font-weight: bold;
}

.left-column .remark-code, .right-column .remark-code {
  font-size: 0.85em;
}
.big-code .remark-code {
  font-size: 1.4em;
}
.normal-code .remark-code {
  font-size: 1.0em;
}
.small-code .remark-code {
  font-size: 0.7em;
}

/* slide info box */
.info {
  display: block;
  left: 50px;
  right: 50px;
  background: var(--color-Info);
  padding: 20px;
  margin: 30px 0;
  font-size: 1.5em;
  color: var(--color-White);
}
.info em, .info strong, .info a {
  color: var(--color-White);
}
.info strong {
  text-decoration: underline;
}

/* laser style */
#laser {
  pointer-events: none;
  display: none;
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background-color: rgb(51, 255, 119);
  box-shadow: 0px 0px 20px 5px rgb(51, 255, 119);
  top: 0;
  left: 0;
  z-index: 10000;
}